#! perl

use feature           qw/ say        /;
use Term::ANSIColor   qw/ :constants /;

my @plugins = qw/
                  Colors
                  Completion
                  DataPrinter
                  Editor
                  FancyPrompt
                  History
                  LexEnv
                  MultiLine::PPI
                  Packages
                /;

$_REPL->load_plugin($_) for @plugins;

sub prompt {
  my $color = shift;
  return sub {
    my $self = shift;
    sprintf '%s%s%03d%s> ',
      $color ,
      $self->can('current_package') ? '( ' . $self->current_package . ' ) : ' : ' : ',
      $self->lines_read,
      $self->can('line_depth') ? ':' . $self->line_depth : '';
  };
}

$_REPL->fancy_prompt( prompt( GREEN ));
$_REPL->fancy_continuation_prompt( prompt( BLUE ));

package GENEHACK::REPL;

# Don't leave the terminal like that!
END {say '';}
