keycode   8 =
keycode   9 = Escape
keycode  10 = 1 exclam
keycode  11 = 2 at
keycode  12 = 3 numbersign
keycode  13 = 4 dollar
keycode  14 = 5 percent
keycode  15 = 6 asciicircum
keycode  16 = 7 ampersand
keycode  17 = 8 asterisk
keycode  18 = 9 parenleft
keycode  19 = 0 parenright
keycode  20 = bracketleft braceleft
keycode  21 = bracketright braceright
keycode  22 = BackSpace
keycode  23 = Tab ISO_Left_Tab
keycode  24 = apostrophe quotedbl
keycode  25 = comma less
keycode  26 = period greater
keycode  27 = p P
keycode  28 = y Y
keycode  29 = f F
keycode  30 = g G
keycode  31 = c C
keycode  32 = r R
keycode  33 = l L
keycode  34 = slash question
keycode  35 = equal plus
keycode  36 = Return
keycode  37 = Caps_Lock
keycode  38 = a A
keycode  39 = o O
keycode  40 = e E
keycode  41 = u U
keycode  42 = i I
keycode  43 = d D
keycode  44 = h H
keycode  45 = t T
keycode  46 = n N
keycode  47 = s S
keycode  48 = minus underscore
keycode  49 = grave asciitilde
keycode  50 = Shift_L
keycode  51 = backslash bar
keycode  52 = semicolon colon
keycode  53 = q Q
keycode  54 = j J
keycode  55 = k K
keycode  56 = x X
keycode  57 = b B
keycode  58 = m M
keycode  59 = w W 
keycode  60 = v V 
keycode  61 = z Z
keycode  62 = Shift_R
keycode  63 = KP_Multiply
keycode  64 = Meta_L
keycode  65 = space
keycode  66 = Control_R
keycode  67 = F1
keycode  68 = F2
keycode  69 = F3
keycode  70 = F4
keycode  71 = F5
keycode  72 = F6
keycode  73 = F7
keycode  74 = F8
keycode  75 = F9
keycode  76 = F10
keycode  77 = Num_Lock Pointer_EnableKeys
keycode  78 = Scroll_Lock
keycode  79 = KP_Home KP_7
keycode  80 = KP_Up KP_8
keycode  81 = KP_Prior KP_9
keycode  82 = KP_Subtract
keycode  83 = KP_Left KP_4
keycode  84 = KP_Begin KP_5
keycode  85 = KP_Right KP_6
keycode  86 = KP_Add
keycode  87 = KP_End KP_1
keycode  88 = KP_Down KP_2
keycode  89 = KP_Next KP_3
keycode  90 = KP_Insert KP_0
keycode  91 = KP_Delete KP_Decimal
keycode  92 =
keycode  93 =
keycode  94 =
keycode  95 = F11
keycode  96 = F12
keycode  97 = Home
keycode  98 = Up
keycode  99 = Prior
keycode 100 = Left
keycode 101 =
keycode 102 = Right
keycode 103 = End
keycode 104 = Down
keycode 105 = Next
keycode 106 = Insert
keycode 107 = Delete
keycode 108 = KP_Enter
keycode 109 = Control_L
keycode 110 = Pause Break
keycode 111 = Print Execute
keycode 112 = KP_Divide
keycode 113 = Super_R
keycode 114 =
keycode 115 = Alt_L
keycode 116 = Hyper_R
keycode 117 = Multi_key
keycode 118 =
keycode 119 =
keycode 120 =
keycode 121 =
keycode 122 =
keycode 123 =
keycode 124 =
keycode 125 =
keycode 126 =
keycode 127 =
keycode 128 =
keycode 129 =
keycode 130 =
keycode 131 =
keycode 132 =
keycode 133 =
keycode 134 =
! swap alt and meta
clear Mod1
add Mod1 = Meta_L
clear Mod2
add Mod2 = Alt_L
clear Mod3
add Mod3 = Super_R
clear Mod4
add Mod4 = Hyper_R
clear Control
add Control = Control_L Control_R
clear Lock
add Lock = Caps_Lock

